<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="icon" type="image/png" href="/static/favicon.png">
        <title>nts</title>
    </head>
    <body>
        <div class="container">
            <br>
            <img src="../static/nts2sp.jpg" width="100">
            <br>
            <h2>NTS radio set to Spotify playlist !</h2>
            <h4>Add the tracks from a given NTS radio set to a personal Spotify playlist !</h4>
            <br>
            <p>{{ message }}</p>
            <form method="post" action="/query">
                <input type="text" name="nts_url" placeholder="nts radio set url" required>
                <input type="hidden" name="access_token" value="{{ access_token }}">
                <input type="submit" value="add to playlist">
            </form>
        </div>
    </body>
</html>